* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}



/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.web-title {
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}

.navbar a {
    color: black;
    margin: 15px 10px;
}

.middle-nav {
    display: flex;
}

nav {
    background-color: white;
    box-shadow: 0px 2px 6px grey;

}

.login {
    align-items: center;
    display: flex;
}

.nav-items {
    font-size: 15px;
    text-align: center;

}

.nav-icon {
    padding-bottom: 5px;

}

i.nav-icons.fa-solid.fa-person-running {
    font-size: 27px;
}

.nav-svg {
    margin-left: 2.5rem;
}

svg.grid-nav {
    margin-left: 15px;
}

i.fa-solid.fa-person-running {
    text-align: center;
    margin-left: 21px;
}

svg.w-20.h-20 {
    width: 27px;
}

/* gallary */

h1 {
    text-align: center;

}

.gallery {
    height: 100%;
    width: 80%;

    margin: 5% auto 0;
    box-sizing: border-box;
    /* border: 5px solid #3F0066; */
    margin-bottom: 3rem;
}

.title {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.images {
    display: flex;
}

.image-box {

    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
    position: relative;
    /* border: 1px solid red; */
    /* z-index: 10; */

}

.first-img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.last-img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image-box img {
    /* width: 100%; */
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;


}


i.img-icon.fa-solid.fa-circle-arrow-right {
    position: absolute;
    color: white;
}

i.fa-solid.fa-person-running {

    font-size: 36px;
}

.image-box:hover {
    flex-basis: 50%;
}

.active {
    flex-basis: 50%;
}

.gallery:hover .active {
    flex-basis: 0%;
}

.image-box:nth-child(1):hover {
    flex-basis: 50%;
}




i.fa-solid.fa-circle-arrow-right {
    /* position: absolute; */
    top: 10px;
    /* left: 0; */
    right: 12px;
}

.image-box p {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
}